{% extends 'myadminapp/base.html' %}
{% load static %}


{% block container %}
<div class="categories_list">
    <a href="{% url 'myadmin:productcategory_create' %}"
       class="btn btn-primary new_category">
        New Category
    </a>
    {% for object in object_list %}
    <div class="category_record {% if not object.is_active %}not_active{% endif %}">
        <div class="category_name">
            {{ object.name|title }}
        </div>
        <div class="category_actions">
            <a href="{% url 'myadmin:products' object.pk %}"
               class="btn btn-info">
                products by category
            </a>
            <a href="{% url 'myadmin:productcategory_update' object.pk %}"
               class="btn btn-success">
                Update
            </a>

            {% if object.is_active %}
                <a href="{% url 'myadmin:productcategory_delete' object.pk %}"
                   class="btn btn-danger">
                    Delete
                </a>
            {% else %}
                <a href="{% url 'myadmin:productcategory_recover' object.pk %}"
                   class="btn btn-danger">
                    Recover
                </a>
            {% endif %}


        </div>
        <div class="category_desc">
            {{ object.description }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}